<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Servicios de Peluquería</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Servicios de Peluquería</h1>
    <a href="{{ url_for('agregar_peluqueria') }}">Agregar Servicio</a>
    <table>
        <thead>
            <tr>
                <th>Servicio</th>
                <th>Precio</th>
                <th>Id_Mascota</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
            <tr>
                <td>{{ servicio[1] }}</td>
                <td>{{ servicio[2] }}</td>
                <td>{{ servicio[3] }}</td>
                <td>{{ servicio[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>

        
    </table>
    <a href="{{ url_for('index') }}">index</a>
</body>
</html>
